* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
  color: black;
  font-family:'Times New Roman', Times, serif
}
/* HEADER / NAV BAR STYLES START */

header {
    padding: px 35px;
    background-color: #cec5ab;
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  header h1 {
    font-weight: bold;
    margin: 15px;
    font-size: 75px;
    color: black;
    font-style: italic;
  }
  
  header a {
    text-decoration: none;
    color: black;
  }
  
  header nav {
    margin: 15px 15px;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    font-style: italic;
  }
  
  /* HEADER / NAVBAR STYLES END */
  /* FOOTER STYLES START */
footer {
    background: #cec5ab8e;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  footer h1 {
      background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  }
  /* END FOOTER STYLES */

  /* ALL Section Styles*/
  section {
    padding: 60px;
  }
    /* Section Styles END */

    /* TITLE STYLES START */
.bio {
    background-color: #cec5ab8e;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
  }
  .bio h1 {
    text-decoration: underline;
    font-style: italic;
    font-size: 50px;
    color: black;
  }
  .bio-image img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    display: flex;
  }
  .portrait-title h3 {
    font-style: italic;
    font-size: 35px;
    color: black;
  }
  .bio-info {
    width: 30%;
    text-align: left;
    margin: 10px 10px;
    color: black;
    font-size: 18px;
    line-height: 1.5;
  }
  .bio-interest {
    width: 30%;
    text-align: left;
    margin: 10px 10px;
    color: black;
    font-size: 18px;
    line-height: 1.5;
  }
  .bio-education {
    width: 30%;
    text-align: left;
    margin: 10px 10px;
    color: black;
    font-size: 18px;
    line-height: 1.5;
  }
    /* TITLE STYLES END */
    /* Experience */
  .experience {
    background-color: #cec5ab;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .experience h1 {
    text-decoration: underline;
    font-style: italic;
    font-size: 50px;
    color: black;
  }
  .exp-image img{
    border-radius: 25%;
    width: 400px;
    height: 400px;
    display: flex;
  }
  .exp-work {
    width: 30%;
    text-align: left;
    margin: 10px 10px;
    color: black;
    font-size: 18px;
    line-height: 1.5;
  }
  .exp-skills {
    width: 30%;
    text-align: left;
    margin: 10px 10px;
    color: black;
    font-size: 18px;
    line-height: 1.5;
  }
  .exp-cert {
    width: 30%;
    text-align: left;
    margin: 10px 10px;
    color: black;
    font-size: 18px;
    line-height: 1.5;
  }
    /* Experience END */
    /* Projects */
.projects {
  background-color: #cec5ab8e;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.projects h1 {
  text-decoration: underline;
  font-style: italic;
  font-size: 50px;
  color: black;
}
    /* Projects END */
    /* Contact */
    .contact {
      background-color: #cec5ab;
      background-size: cover;
      background-position: center;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
    .contact h1 {
      text-decoration: underline;
      font-style: italic;
      font-size: 50px;
      color: black;
    }
    /* Contact END */
    /* Utilities */
    .flex-row {
      display: flex;
    }